* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(1, 1, 36); */
  background: rgb(2, 0, 36);
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.5em 1em;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

#turnOff {
  color: rgb(1, 1, 36);
  font-weight: 700;
}

.hidden {
  display: none;
}
#container {
  width: min-content;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#timerContainer-wrapper {
  display: flex;
  justify-content: space-between;
}

.separator {
  font-size: 3rem;
  display: inline-block;
  transform: translateY(20px);
  margin: 0 10px;
}

.timer-container span {
  font-weight: 500;
  font-size: 3rem;
  cursor: default;
  font-family: "Orbitron";
  scroll-snap-align: center;
}
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  height: 100px;
  padding: 0 20px;
  scroll-snap-type: y mandatory;
  /* HIDING SCROLLBAR IN FIREFOX*/
  scrollbar-width: none;
  box-shadow: 0 0 10px 1px rgba(2, 0, 26, 0.2) inset;
}
/* HIDING SCROLLBAR IN OTHER BROWSERS*/
.timer-container::-webkit-scrollbar {
  display: none;
}
.timer-container span:first-child {
  margin-top: 20px;
}
.timer-container span:last-child {
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .separator {
    font-size: 2rem;
  }
  .timer-container span {
    font-size: 2rem;
  }
  .timer-container {
    height: 80px;
  }
}
